.BetterButton {
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
  color: white;
  background-color: $primary-color;
  border-radius: 8px;

  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3 ease;

  &:hover {
    background-color: $secondary-color;
    transform: translateY(-2px);
  }
}
